<div class="contributor-footnotes">

<h2>{{title}}</h2>

{{#if message}}
<div style="margin-top: 10px;">
{{{message}}}
</div>
{{/if}}

<div class="contributors-row">
{{#each usernames_visible}}
<a href="https://github.com/{{this}}">
<img src="https://github.com/{{this}}.png"
     width="32px"
     height="32px"
     loading="lazy"
     alt="Contributor {{this}}"
     style="border-radius: 50%">
</a>
{{/each}}

{{#if hidden_count}}
<details class="contributors-more">
  <summary>
    <span class="contributors-more-chip" title="Show/hide all contributors">
      {{hidden_count}}+
    </span>
  </summary>

  <span class="contributors-hidden">
    {{#each usernames_hidden}}
    <a href="https://github.com/{{this}}">
      <img src="https://github.com/{{this}}.png"
           width="32px"
           height="32px"
           loading="lazy"
           alt="Contributor {{this}}"
           style="border-radius: 50%">
    </a>
    {{/each}}
  </span>
</details>
{{/if}}
</div>

</div>
